$font-base: Roboto, 'Helvetica CY', sans-serif;

$color-base: #212529;
$color-link: #4e4420;
$color-link-hover: #886c1e;
$color-danger: #b91313;
$color-success: #198754;

$transition: all 0.25s ease;
