@import '_reset.scss';
@import '_variables.scss';

body,
button,
input,
select,
textarea {
  font: {
    size: 15px;
    family: $font-base;
  }
  line-height: 20px;
}
body {
  color: $color-base;
  background: #cdcdb0;
}
h1 {
  font-size: 22px;
  line-height: 30px;
  color: $color-title;
  margin-bottom: 22px;
}
a {
  color: $color-link;
  text-decoration: none;
  transition: $transition;
  &:hover {
    color: $color-link-hover;
    border-bottom: 1px solid $color-link-hover;
  }
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-areas: 'header' 'container' 'footer';
  grid-template-rows: 130px 1fr 90px;
  grid-template-columns: 1fr;
  grid-gap: 0;
}
.wrap,
.container {
  width: 1235px;
  margin: 0 auto;
}

.flex {
  display: flex;
}
.ai-center {
  align-items: center;
}
.jc-between {
  justify-content: space-between;
}
.jc-center {
  justify-content: center;
}

.white-box {
  margin-bottom: 31px;
  padding: 15px 20px 19px;
  border: solid 1px #e8e8d4;
  border-radius: 6px;
  background: #f9f9f1;
}

@import '_header.scss';
@import '_aside.scss';
@import '_footer.scss';

.container {
  grid-area: container;
  padding: 19px 25px;
  background: #f0efdb;
}
.content {
  width: 100%;
}
